html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

* {
  color: #f4f4f4;
}

.text-secondary {
  color: #28064F;
}

.bg-primary {
  background-color: #640fc5;
}

* {
  font-family: "Arial";
}

.titleBig {
  font-weight: bold;
  font-size: 4em;
}

.titleMid {
  font-weight: bold;
  font-size: 2em;
}

.m-block-xs {
  margin: 0.5rem;
}

.m-inline-xs {
  margin: 0.5rem;
}

.m-block-sm {
  margin: 0.8rem;
}

.m-inline-sm {
  margin: 0.8rem;
}

.m-block-md {
  margin: 1rem;
}

.m-inline-md {
  margin: 1rem;
}

.m-block-lg {
  margin: 2rem;
}

.m-inline-lg {
  margin: 2rem;
}

.m-block-xl {
  margin: 2.5rem;
}

.m-inline-xl {
  margin: 2.5rem;
}

.p-block-xs {
  padding: 0.5rem;
}

.p-inline-xs {
  padding: 0.5rem;
}

.p-block-sm {
  padding: 0.8rem;
}

.p-inline-sm {
  padding: 0.8rem;
}

.p-block-md {
  padding: 1rem;
}

.p-inline-md {
  padding: 1rem;
}

.p-block-lg {
  padding: 2rem;
}

.p-inline-lg {
  padding: 2rem;
}

.p-block-xl {
  padding: 2.5rem;
}

.p-inline-xl {
  padding: 2.5rem;
}

.px-block-xs {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.px-inline-xs {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.px-block-sm {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.px-inline-sm {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.px-block-md {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-inline-md {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-block-lg {
  padding-right: 2rem;
  padding-left: 2rem;
}

.px-inline-lg {
  padding-right: 2rem;
  padding-left: 2rem;
}

.px-block-xl {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.px-inline-xl {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.mx-block-xs {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mx-inline-xs {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mx-block-sm {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.mx-inline-sm {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.mx-block-md {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-inline-md {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-block-lg {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-inline-lg {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-block-xl {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.mx-inline-xl {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.py-block-xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-inline-xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-block-sm {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-inline-sm {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-block-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-inline-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-block-lg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-inline-lg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-block-xl {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-inline-xl {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.my-block-xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-inline-xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-block-sm {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.my-inline-sm {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.my-block-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-inline-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-block-lg {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-inline-lg {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-block-xl {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-inline-xl {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.d-flex {
  display: flex;
}

.float-right {
  float: right;
}

.clearFloat {
  clear: both;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.style-none {
  list-style-type: none;
}

.button-1 {
  background-color: #0e6cff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.button-2 {
  background-color: #ff8700;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.button-3 {
  background-color: #4caf50;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.img1 {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid lightgray;
}

.img2 {
  border-radius: 0.8rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid lightgray;
}/*# sourceMappingURL=style.css.map */