@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin fontInterpolation($property, $value) {
    font-#{$property}: $value;
}

*, a {
    @include fontInterpolation("family", "Poppins");
    
}

$font-size-base: 1rem;

$fxs: $font-size-base * 0.5;
$fsm: $font-size-base;
$fmd: $font-size-base * 2;
$flg: $font-size-base * 3;
$fxl: $font-size-base * 4;

@mixin title ($size) {
    @include fontInterpolation("weight", bold);
    @include fontInterpolation("size", $size);
    
    
}

.titleBig {
    @include title ($fxl);
    letter-spacing: -3px;
    
}

.titleMid {
    @include title($fmd);
    
}