$xs: 0.5rem;
$sm: 0.8rem;
$md: 1rem;
$lg: 2rem;
$xl: 2.5rem;


@mixin float ($size) {
    border-radius: $size;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid lightgray;
}

.img1 {
    @include float($md)
}

.img2 {
    @include float($sm)
}

@mixin grid ($elementNumber) {
    display: flex;
    flex-wrap: wrap;
    div {
        display: flex;
        flex-basis: calc(100% / $elementNumber);
        justify-content: center;
    }
}

.flex {
    @include grid(4);
}

@mixin animation {
    @keyframes mostra {
        0% {
            opacity: 0;
            transform: translateY(-100px);
        }
      /*   50% {
            opacity: 0.3;
            transform: translateY(-50px);
        } */
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    animation: mostra 2s ease 0s 1;
}

#hero {
    img, div {
        @include animation;
    }
}