$names: 't', 'b' , 's', 'e', 'x', 'y', 'all';

$sizes-map: (
    xs: 0.5rem,
    sm: 0.8rem,
    md: 1rem,
    lg: 2rem,
    xl: 3rem,
    xxl: 4rem,
);

@each $breakpoint, $value in $sizes-map {
    @each $name in $names {
        @if $name == 't' {
            .m#{$name}-#{$breakpoint} {
                margin-top: $value;
            }            
        } @else if $name == 'b' {
            .m#{$name}-#{$breakpoint} {
                margin-bottom: $value;
            }        
        } @else if $name == 's' {
            .m#{$name}-#{$breakpoint} {
                margin-left: $value;
            }
        } @else if $name == 'e' {
            .m#{$name}-#{$breakpoint} {
                margin-right: $value;
            }
        } @else if $name == 'x' {
            .m#{$name}-#{$breakpoint} {
                margin-right: $value;
                margin-left: $value;
            }
        } @else if $name == 'y' {
            .m#{$name}-#{$breakpoint} {
                margin-top: $value;
                margin-bottom: $value;
            }
        } @else {
            .m-#{$breakpoint} {
                margin: $value;                
            }
        }                                
    }
}

@each $breakpoint, $value in $sizes-map {
    @each $name in $names {
        @if $name == 't' {
            .p#{$name}-#{$breakpoint} {
                padding-top: $value;
            }            
        } @else if $name == 'b' {
            .p#{$name}-#{$breakpoint} {
                padding-bottom: $value;
            }        
        } @else if $name == 's' {
            .p#{$name}-#{$breakpoint} {
                padding-left: $value;
            }
        } @else if $name == 'e' {
            .p#{$name}-#{$breakpoint} {
                padding-right: $value;
            }
        } @else if $name == 'x' {
            .p#{$name}-#{$breakpoint} {
                padding-right: $value;
                padding-left: $value;
            }
        } @else if $name == 'y' {
            .p#{$name}-#{$breakpoint} {
                padding-top: $value;
                padding-bottom: $value;
            }
        } @else {
            .p-#{$breakpoint} {
                padding: $value;                
            }
        }                                
    }
}

.d-flex {
    display: flex;
}

.float-right {
    float: right;
}

.clearFloat {
    clear: both;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.style-none {
    list-style-type: none;
}